@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --controls: 0 0% 100%;
    --controls-hover: 0 0% 90%;
    --controls-border: 0 0% 80%;
    --foreground: 222.2 84% 4.9%;
    --color-modal: 244 244 244;
    --color-accent1: 123 97 255;
    --color-accent1-hover: 175 159 255;
    --color-accent2: 46 131 255;
    --color-accent3: 255 169 39;
    --color-accent4: 240 95 168;
  }

  [data-theme='dark']:root {
    --controls: 0 0% 15%;
    --controls-hover: 0 0% 20%;
    --controls-border: 0 0% 40%;
    --foreground: 210 40% 98%;
    --color-modal: 25 25 25;
    --color-accent1: 153 245 255;
    --color-accent1-hover: 212 251 255;
    --color-accent2: 123 97 255;
    --color-accent3: 255 201 63;
    --color-accent4: 240 95 168;
  }
}

.react-flow__controls-button {
  background: hsl(var(--controls)) !important;
  color: hsl(var(--foreground)) !important;
  border-bottom: 1px solid hsl(var(--controls-border)) !important;
}

.react-flow__controls-button:hover {
  background: hsl(var(--controls-hover)) !important;
}

.react-flow__controls-button svg {
  fill: currentColor !important;
}
/* docstring regex syntax highlighter */

.string {
  color: #7b61ff;
}

.before-colon,
.snake-case {
  color: #e14092;
}

.dashes {
  color: #7b61ff;
}

.node-names,
.all-caps {
  color: #7b61ff;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.2rem;
}

.data-container-type {
  cursor: pointer;
  color: #2e83ff;
}

.sections {
  color: black;
}

[data-theme='dark']:root .sections {
  color: white !important;
}

.node-explorer-toc {
  padding: 20px 40px;
}

[data-theme='dark']:root .node-explorer-toc {
  background-color: #191919;
}

[data-theme='light']:root .node-explorer-toc {
  background-color: #f4f4f4;
}

.explore-nodes-h1 {
  font-family: 'PonyMaker';
  margin: 40px;
  letter-spacing: 5px;
}

.explore-nodes-h2,
.explore-nodes-preamble {
  margin: 20px 40px;
}

.thumbnail-section figcaption {
  font-size: 14px;
  text-align: center;
  margin: 2px auto;
}

.thumbnail-section figcaption {
  font-size: 14px;
  text-align: center;
  margin: 2px auto;
}

/* Instrument and Example Node thumbnail styles */

.category-page-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  margin-right: 15px;
}

.app-thumbnail-figure {
  width: 300px;
  height: 300px;
}

.app-thumbnail-figure > .thumbnail-image-container {
  overflow: hidden;
  height: 250px;
}

.app-thumbnail-figure > .thumbnail-image-container > img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.app-thumbnail-figure > .thumbnail-image-container > img:hover {
  transform: scale(1.5);
}

.app-thumbnail-figure > figcaption {
  font-family: Menlo;
}
