/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@use 'variables';
@use 'breadcrumbs';
@use 'icons';
@use 'navbar';

.bg-dark {
	background-color: #111111;
}

html,
body {
	font-family: var(--font-family);
}

.hero {
	.hero__title {
		font-size: 4rem;
	}
}

.text-left {
	text-align: left !important;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.col-md-6 {
	width: 50%;
}

.container > div {
	flex-grow: 1;
}

.mb-4 {
	margin-bottom: 32px;
}

.text-center {
	text-align: center;
}

.button {
	text-transform: uppercase;
	letter-spacing: 0.07em;
}

.button--lg {
	font-size: 1.3rem;
	padding: 1rem 2.4rem;
}

.button--round {
	border-radius: 5rem;
}

.justify-center {
	justify-content: center;
}
.gap-3 {
	gap: 12px;
}
@media only screen and (max-width: 768px) {
	.hide-md {
		display: none;
	}
}
@media only screen and (max-width: 1100px) {
	.flex-column-lg {
		flex-direction: column;
	}
}
.menu__link:not(.menu__link--sublist) {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas,'Liberation Mono', 'Courier New', monospace;
}


// .bg {
// 	position: relative;
// }

// .bg > * {
// 	z-index: 1;
// 	position: relative;
// }

// .bg::before {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	bottom: 0;
// 	width: 100%;
// 	border-top: transparent;
// 	background-clip: border-box;
// 	background: url('/img/home-bg-dark.svg') no-repeat;
// 	background-size: cover;
// 	background-position: 0 0;
// 	margin-top: -200px;
// 	padding-top: 200px;
// 	z-index: 0;
// 	pointer-events: none;
// }

#__docusaurus {
	background: url('/img/home-bg-light.svg') no-repeat;
	background-position-y: bottom;
	background-size: contain;
}

/* overwrites for dark theme */

[data-theme='dark'] {
	#__docusaurus {
		background-image: url('/img/home-bg-dark.svg');
	}
}

.hero {
	background-color: transparent;
}

/* footer */

.footer {
	.footer__copyright {
		text-align: right;
	}
}
.quick--start-button{
	background-color: #111111;
	border-radius: 7px;
	padding: 13px;
}